/* CSS for the gym form */
.container_form {
  margin-top: 2rem;
  width: 100%;
}

.gym-form {
  max-width: 415px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #000000;
}

.form-group {
}

.form-label {
  font-weight: bold;
}

input {
  background-color: rgb(230, 130, 130);
  font-size: 14px;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
  background-color: rgb(188, 88, 88);
  color: #d4d4d4;
  margin-bottom: 2rem;
}

.button-container {
  text-align: center;
}

.btn-primary {
  background-color: #7c1515;
  color: #fff;
  border: none;
  border-radius: 13px;
  padding: 8px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #b30600;
}
