:root {
  --black: #000000;
  --darkbrown: #4a331c;
  --brown: #8B4513;
  --normalbrown: #663300;
  --lightbrown: #FFA07A;
  --red: #ef0d0d;
}

.App {
  position: relative;
  mix-blend-mode: overlay;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}

/* Hide scrollbar */
::-webkit-scrollbar{
  display: none;
}

.stroke-text{
  color: transparent;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.btn{
  background-color: brown;
  padding: 0.5rem;
  font-weight: bold;
  border: 4px solid transparent;
  transition: 300ms all;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-bottom: 20px;
}

.btn:hover{
  cursor: pointer;
}

.blur {
  background:#8B4513;
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  z-index: 2;
}
