
/* Styling for the registration page */
.register {
    width: 100%;
    height: 100%;
      display: flex;
      justify-content: space-between;
      position:relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top-center;
      background-color: none;
      margin: 0 auto; /* Center the content horizontally */
      padding: 0;
}

.regheader {
    z-index: 3;
    flex:3;  
}

/* Hidden element for screen readers */
.offscreen {
    position: absolute;
    left: -9999px;
}

.style{
    background-size: cover;
    position:absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 15rem;
    z-index:-2;
    margin: 0;
      padding: 0;
}

.leftreg{
    height:15rem;   
}

/* Styling for the registration page text */
.register-text {
    position:relative;
    margin-top:5rem ;
    margin-bottom: 4rem;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
    justify-content: flex-start;
  }

/* Styling for the left side of the registration page */
.leftf {
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.lf {
    height: 55rem;
    width: 23rem;
    background-color: black;
    border: 2px solid white;;
    border-color: white;
    border-radius: 10px;
    margin-top:20rem;
    margin-left: 30rem;
    margin-right: 35rem;
    position: center;
    margin-bottom: 2rem;
    color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
  
    padding: 20px;
    margin-left: -41rem;
    
    /* position: relative; */
}

/* Styling for registration input fields and buttons */
.reginput,
.regbutton {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width:22rem;
  background-color: rgb(188, 88, 88);
  margin-bottom: 2rem;
}

.uphoto {
    color: white;
    cursor: pointer;
}

.reglabel {
    color: rgb(254, 254, 254);
    margin-top: 1rem;
}

.regbutton {
  margin-top: 1rem;
  background-color: brown;
  color:black;
  width: 10rem; 
}

.regbutton:disabled {
    background-color: gray;
    color: white;
}

.regbutton {
  padding: 0.5rem;
}

/* Styling for instructions and validation messages */
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

/* Hidden elements and validation messages */
.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
    margin-top: -5rem;
}

/* Styling for links with no underline */
.no-underliner {
    color: inherit;
    text-decoration: none;
}

.no-underliner:hover{
    color:brown;
    cursor: pointer;
}

.regp {
    margin-top: 2rem;
    color:white;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    .register {
      flex-direction: column;
      margin-left: 2.3rem;
    }
  
    .leftreg,
    .rightf {
      flex: 1;
      margin-left: 0;
      margin-right: 0;
    }
  
    .lf,
    .rf {
      width: 75%;
      margin: 0 auto;
    }
  
    .line {
      margin-top: 0;
    }

    .reginput {
        width: 16.8rem;
    }

  }