.register {
    width: 100%;
    height: 100%;
      display: flex;
      justify-content: space-between;
      position:relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top-center;
      background-color: none;
      
      margin: 0;
      padding: 0;
}

header {
    z-index: 3;
    flex:3;
    
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.style{
    background-size: cover;
    position:absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 15rem;
    z-index:-2;
    margin: 0;
      padding: 0;
}

.leftreg{
    height:15rem;
    
    
}


.register-text {
    position:relative;
    margin-top:5rem ;
    margin-bottom: 4rem;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
    justify-content: flex-start;
    
    
  }


  .leftf {
    flex: 2;
    display: flex;
    gap: 3rem;
    flex-direction: column;
  }

.lf {
    height: 35rem;
    width: 25rem;
    background-color: black;
    border: 2px solid white;;
    border-color: white;
    border-radius: 10px;
    margin-top:20rem;
    margin-left: 20rem;
    margin-right: 35rem;
    position: center;
    margin-bottom: 2rem;
    
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
  
    padding: 20px;
    
    margin-left: -41rem;
    
    /* position: relative; */
}

.rightf {
    flex: 2;
    position: relative;
}

.rf {
    height: 35rem;
    width: 25rem;
    background-color: black;
    border: 2px solid white;;
    border-color: white;
    border-radius: 10px;
    margin-top:20rem;
    margin-left: 35rem;
    margin-right: 25rem;
    position: center;
    margin-bottom: 2rem;
    color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
  
    padding: 20px;
    
    margin-left: -22rem;
}

input[type="text"],
input[type="password"],
input[type="file"]
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width:22rem;
  background-color: rgb(188, 88, 88);
  margin-bottom: 2rem;
  

}

.uphoto {
    color: white;
    cursor: pointer;
   
}

label {
    color: rgb(254, 254, 254);
    margin-top: 1rem;
}

label>customfile {
    overflow: hidden;
    background-color: red;
    color: white;
    cursor: pointer;
}


button {
  margin-top: 1rem;
  background-color: red;
  color:black;
  width: 10rem;
  
}

button:disabled {
    background-color: gray;
    color: white;
}

button {
  padding: 0.5rem;
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
    margin-top: -5rem;
}

a {
    
        
        color: inherit;
    
}

a:hover{
    color:red;
    cursor: pointer;
}

p {
    margin-top: 2rem;
    color:white;
}