

.hero {
    
  
    width: 100%;
  height: 100%;
    display: flex;
    justify-content: space-between;
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top-center;
    background-color: black;
    
    margin: 0;
    padding: 0;
  }

/*   .hero::before {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 78%;
   
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1; /* Adjust opacity as needed */
    /* z-index: -1;
  } */

  /* .hero::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 78%;
    
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1; /* Adjust opacity as needed */
    
  
  
  .left-h {
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    
    

  }
  
  
  
  
  
  .hi-ad {
    margin-top: 12rem;
    background-color: rgb(161, 159, 156);
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .hi-ad > span {
    z-index: 4;
  }
  
  .hi-ad > div {
    position: absolute;
    background-color: brown;
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 3;
  }
  
  .hero-text {
    margin-top: 4rem ;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
  }

  .the{
    margin-left: 225px;   
    color: transparent;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }

  .hero-text>div:nth-of-type(3){
    font-size: 1rem;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
  }

  .figures{
    display: flex;
    gap: 2rem;
  }

  .figures>div{
    display: flex;
    flex-direction: column;
  }

  .figures>div>span:nth-of-type(1){
    color:white;
    font-size: 2rem;
  }

  .figures>div>span:nth-of-type(2){
    color:rgb(211, 210, 210);
    text-transform: uppercase;
  }

  .hero-buttons{
    display: flex;
    gap: 1rem;
    font-weight: normal;
  }

  .hero-buttons>:nth-child(1) {
    width: 8rem;
  }

  .hero-buttons>:nth-child(1):hover {
    background-color: antiquewhite;
  }

  .hero-buttons>:nth-child(2) {
    color: white;
    background-color: transparent;
    width: 8rem;
    border: 4px solid red;
  }

  .hero-buttons>:nth-child(2):hover {
    background-color: red;
  }

  .right-h>.btn{
    position: absolute;
    right: 3rem;
    top: 2rem;
    color: black;
  }

  Join {
    margin-top: 50rem;
  }

  .hero-blur {
    width: 22rem;
    height: 45rem;
    right: 0;
  }

  @media screen and (max-width: 768px) {
    .hero {
      flex-direction: column;
      background-size: contain; /* Adjust as needed */
    
    }

    .hero-blur {
      width: 14rem;
    }

    .hi-ad {
      margin-top: 2rem;
      font-size: small;
      align-self: left;
      transform: scale(0.8);
    }

    .hero-text{
      
      font-size: xx-large;
      align-items: center;
      justify-content: center;
    }
    .the {
      margin-left: -1rem;
    }

    
  }
  