.header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
   
   /* transition: background-color 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;*/
    /* z-index: 3; */
}

.logo{
    width: 10rem;
    height: 5rem;
}

.header-menu{
    margin-left: -9rem;
    padding-top: 1rem;
    list-style: none;
    display: flex;
    gap: 3rem;
    color: white;
    
}

.header-menu>li>a{
    text-decoration: none;
    color: inherit;
}

.header-menu>li>a:hover{
    color: brown;
}


.header-menu>li:hover{
    cursor: pointer;
    color: brown;
    cursor: pointer;
}



.header-dropdown .dropdown-label {
    cursor: pointer;
    position: relative;
    padding-bottom: 1rem;
    
  }
  
  

  
  

 

@media screen and (max-width: 768px) {
    .header {
        
        right: 2rem;
        z-index: 99;
    }

    .header-menu {
        flex-direction: column;
        background-color: black;
        padding: 1rem;
        margin-right: -5rem;
    }

    .logo {
        width: 5rem;
        height: 3rem;
    }
}  