


.style{
    background-size: cover;
    position:absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 15rem;
    z-index:-2;
    margin: 0;
      padding: 0;
}

.header {
    width: 80%;
}

table {
    
    border: 1px solid white;
    color: white;
    border-collapse: collapse; /* Combine table borders */
    width: 100%; /* Make the table take up 100% of its container width */
    
      
  }
  th, td {
      
      border: 1px solid white;
      
  }

  .acont {
    margin-left: 30rem;
    margin-top: -30rem;
    display: flex; /* Use flexbox to position elements */
    justify-content: space-between; /* Spread elements horizontally */
    align-items: center; /* Center elements vertically */
    padding: 20px;
  }

  .tcont {
    flex: 1; /* Allow the table container to take up remaining space */
    margin-left: 20px; /* Adjust margin as needed */
  }

  .rcont {
    display: flex; /* Use flexbox to position elements */
    justify-content: space-between; /* Spread elements horizontally */
    align-items: center; /* Center elements vertically */
    padding: 20px;
    margin-left: 30rem;
  }


  @media screen and (max-width: 768px) {
    .acont, .rcont {
      flex-direction: column; /* Stack elements vertically */
      align-items: flex-start; /* Align elements to the left */
      margin-left: 0;
      margin-top: 5rem;
    }
  }

