.trainers {
    width: 100%;
    height: 100%;
      display: flex;
      justify-content: space-between;
      position:relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top-center;
      background-color: none;
      
      margin: 0;
      padding: 0;
}

header {
    z-index: 3;
    flex:3;
    
}

.leftt{
    height:15rem;
    
    
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.style{
    background-size: cover;
    position:absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 15rem;
    z-index:-2;
    margin: 0;
      padding: 0;
}

.login-text {
    position:relative;
    margin-top:5rem ;
    margin-bottom: 4rem;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
    justify-content: flex-start;
    
    
  }

  .container {
    max-width: 570px;
    margin-top: 400px;
    margin-left: -380px;
    margin-right: auto;
    background-color: black;
    border-radius: md;
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  .inputSearch {
    padding-top: 0.9rem;
    padding-bottom: 1rem;
    padding-left: 7rem;
    padding-right: 0.5rem;
    background-color: rgb(232, 224, 224);
    width: 100%;
    outline: focus;
    cursor: pointer;
    border-color: white;
    border-radius: md;
    align-items: center;
  }

  button {
    
    margin-top: 31px;
    background-color: brown;
    color:black;
    height: 55px;
    
    
  }