.Footer-container{
    position: relative;
}

.Footer-container>hr{
    border: 1px solid #F2ECBE;
}

.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.social-links{
    display: flex;
    gap: 4rem; 
}

.social-links > img {
    margin-top: 100px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.logo-f>img {
    width: 10rem;

}

.blur-f-1 {
    bottom: 0;
    right: 15%;
    width: 26rem;
    height: 12rem;
    filter: blur(200px);
    background: brown;
}

.blur-f-2 {
    bottom: 0;
    left: 15%;
    width: 26rem;
    height: 12rem;
    filter: blur(200px);
    background: brown;   
}