

.style{
    background-size: cover;
    position:absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 15rem;
    z-index:-2;
    margin: 0;
      padding: 0;
}

.header {
    width: 80%;
}

.traineedetailsform {
    align-items: center;
    height: 65rem;
    width: 60rem;
    background-color: black;
    border: 2px solid white;;
    border-color: white;
    border-radius: 10px;
    margin-top:-32rem;
    margin-left: 32rem;
    margin-right: 35rem;
    position: center;
    margin-bottom: 2rem;
    
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
  
    padding: 20px;
    
    
    
    /* position: relative; */
}

.traineedetails {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  width:40rem;
  background-color: black;
  margin-bottom: 2rem;
  align-items: center;
  color: white;
  cursor: auto;
}

.traineedetailsform>button {
    
  
  background-color: brown;
  color:black;
}

.traineedetails {
    color: rgb(254, 254, 254);
    margin-top: 1rem;
    width: '40rem', 
}


.traineedetailssubmit {
    background-color: brown;
  color:black;
  width:40rem;
  
  }

.traineedetailssubmit:hover {
    background-color: white;
    cursor: pointer;
}

.traineedetailssubmit:disabled {
    background-color: gray;
    color: white;
}

.traineedetailssubmit:hover {
    background-color: white;
    cursor: pointer;
}

.traineedetailssubmit:disabled {
    background-color: gray;
    color: white;
}

.traineedetailssubmit {
  padding: 0.5rem;
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}


  .hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.traineeprofilein {
  color: white;
  margin-right: 50rem;
  align-self: left;
}




/* Media query for screens smaller than 768px (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  /* Adjust the layout for smaller screens */
 

  .form-container {
     /* Adjust the width as needed for mobile screens */
    margin-top: 2rem;
    width:100%;
   
  }

  .traineedetailsform {
    width: 75%; /* Make the form wider for small screens */
    margin: 0 auto; /* Center-align the form */
    padding: 1rem; /* Add spacing */
  }

  .traineedetails {
    width: 15rem; /* Make the form inputs full width */
  }

  .traineedetailssubmit {
    width: 15rem;
  }

  .traineedetailssubmit:hover {
    background-color: white;
    cursor: pointer;
}

  /* Add any additional responsive styles here */
}


